{% load static %}
<!DOCTYPE html>

<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>Book Info</title>

    <!-- mobile responsive meta -->
    <meta
      name="description"
      content="Discover insightful book reviews and thought-provoking quotes on our website. Explore a collection of literary critiques and inspiring quotations from a wide range of genres. Join our community of readers and thinkers today."
    />
    <meta
      name="keywords"
      content="book reviews, quotes, literature, insightful critiques, thought-provoking quotes, literary analysis, reading community"
    />
    <meta name="author" content="prudhvi" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta
      name="og:title"
      content="thebookinfo: Exploring Books, Reviews, and Quotes"
    />
    <meta
      name="og:description"
      content="Discover insightful book reviews and thought-provoking quotes on our website. Explore a collection of literary critiques and inspiring quotations from a wide range of genres. Join our community of readers and thinkers today."
    />
    <meta name="og:image" content="{% static 'images/inslogo.svg' %}" />
    <meta name="og:url" content="https://thebookinfo.com/" />
    <meta name="og:type" content="website" />
    <meta
      name="twitter:title"
      content="thebookinfo: Exploring Books, Reviews, and Quotes"
    />
    <meta
      name="twitter:description"
      content="Discover insightful book reviews and thought-provoking quotes on our website. Explore a collection of literary critiques and inspiring quotations from a wide range of genres. Join our community of readers and thinkers today."
    />
    <meta name="twitter:image" content="{% static 'images/inslogo.svg' %}" />
    <meta name="twitter:card" content="{% static 'images/inslogo.svg' %}" />

    <!-- plugins -->
    <link
      rel="preload"
      href="https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2"
      style="font-display: optional"
    />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:600%7cOpen&#43;Sans&amp;display=swap"
      media="screen"
    />
    <!-- Option 1: Include in HTML -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />

    <!-- Option 1: Include in HTML -->
    <!-- <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css"> -->
    <link rel="stylesheet" href="{% static 'css/slick.css' %}" />

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!--Favicon-->
    <link
      rel="shortcut icon"
      href="{% static 'images/insfavicon.svg' %}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{% static 'images/insfavicon.svg' %}"
      type="image/x-icon"
    />
  </head>

  <body>
    <!-- navigation -->
    <header class="sticky-top bg-white border-bottom border-default">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-white">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img
              class="img-fluid logo"
              src="{% static 'images/inslogo.svg' %}"
              alt="LogBook"
            />
          </a>
          <button
            class="navbar-toggler border-0"
            type="button"
            data-toggle="collapse"
            data-target="#navigation"
          >
            <i class="bi bi-list"></i>
          </button>

          <div class="collapse navbar-collapse text-center" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Authors</a>
              </li> -->

              <li class="nav-item dropdown">
                <a
                  class="nav-link"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Authors<i class="bi bi-chevron-down ml-1"></i>
                </a>
                <div class="dropdown-menu">
                  {% for author in authors %}
                  <a
                    class="dropdown-item"
                    href="{% url 'quotes_by_authors' id=author.id name=author.name|slugify %}"
                    >{{author.name}}</a
                  >
                  {% endfor %}
                </div>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Categories<i class="bi bi-chevron-down ml-1"></i>
                </a>
                <div class="dropdown-menu">
                  {% for category in categories %}
                  <a class="dropdown-item" href="{% url 'quotes_by_categories' id=category.id name=category.name|slugify %}"
                    >{{category.name}}</a
                  >
                  {% endfor %}
                </div>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Languages<i class="bi bi-chevron-down ml-1"></i>
                </a>
                <div class="dropdown-menu">
                  {% for language in languages %}
                  <a class="dropdown-item" href="{% url 'quotes_by_languages' id=language.id name=language.name|slugify %}"
                    >{{language.name}}</a
                  >
                  {% endfor %}
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    {% block content %} {% endblock %}

    <footer class="section-sm pb-0 border-top border-default">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-3 mb-4">
            <a class="mb-4 d-block" href="#">
              <img
                class="img-fluid logo footer-logo"
                src="{% static 'images/inslogo.svg' %}"
                alt="LogBook"
              />
            </a>
            <p>
              Welcome to Book Info, your ultimate destination for captivating
              book reviews and soul-stirring literary quotes. We are thrilled to
              have you here in our cozy corner of the internet, where the magic
              of storytelling comes alive!
            </p>
          </div>

          <div class="col-lg-2 col-md-3 col-6 mb-4">
            <h6 class="mb-4">Quick Links</h6>
            <ul class="list-unstyled footer-list">
              <li><a href="#">About</a></li>

              <li><a href="#">Privacy Policy</a></li>
              <li>
                <a href="#">Terms Conditions</a>
              </li>
            </ul>
          </div>

          <!-- <div class="col-lg-2 col-md-3 col-6 mb-4">
            <h6 class="mb-4">Social Links</h6>
            <ul class="list-unstyled footer-list">
              <li><a href="#">facebook</a></li>
              <li><a href="#">twitter</a></li>
              <li><a href="#">linkedin</a></li>
              <li><a href="#">github</a></li>
            </ul>
          </div> -->

          <div class="col-md-3 mb-4">
            <!-- <h6 class="mb-4">Subscribe Newsletter</h6>
            <form
              class="subscription"
              action="javascript:void(0)"
              method="post"
            >
              <div class="position-relative">
                <i class="ti-email email-icon"></i>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Your Email Address"
                />
              </div>
              <button class="btn btn-primary btn-block rounded" type="submit">
                Subscribe now
              </button>
            </form> -->
          </div>
        </div>
        <div class="text-center">
          <p class="content">
            &copy; 2023 - Design &amp; Develop By
            <a href="#">Prudhvi K</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>

    <!-- Main Script -->
    <script src="{%static 'js/script.js' %}"></script>
  </body>
</html>
