{% load static %}
<!DOCTYPE html>
<html lang="en-us">

<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'images/insfavicon.svg' %}" type="image/x-icon" />
  <link rel="icon" href="{% static 'images/insfavicon.svg' %}" type="image/x-icon" />

  <meta name="monetag" content="3bf8b007575a00ee0bd5896d7339ed89">

  <!-- Meta Data -->
  {% if meta_title %}
  <title> {{meta_title}} </title>
  <meta name="description" content="{{meta_description}}" />
  <meta name="og:title" content="{{meta_title}}" />
  <meta name="og:description" content="{{meta_description}}" />
  <meta name="twitter:title" content="{{meta_title}}" />
  <meta name="twitter:description" content="{{meta_description}}" />
  {% else %}
  <title>InspiricQuotes - Empowering Life with Quotes</title>
  <meta name="description"
    content="Unleash positivity and wisdom with our curated collection of life-affirming quotes. Discover inspiration quotes, motivational quotes, and love quotes." />
  <meta name="og:title" content="InspiricQuotes - Empowering Life with Inspirational Quotes, Motivational Quotes, and Love Quotes" />
  <meta name="og:description"
    content="Unleash positivity and wisdom with our curated collection of life-affirming quotes. Discover inspiration quotes, motivational quotes, and love quotes." />
  <meta name="twitter:title" content="thebookinfo: Book Summaries, Book Recommendations, and Quotes" />
  <meta name="twitter:description"
    content="Unleash positivity and wisdom with our curated collection of life-affirming quotes. Discover inspiration quotes, motivational quotes, and love quotes." />
  {% endif %}

  <meta charset="utf-8" />
  <meta name="keywords"
    content="Motivational Quotes, Life Quotes, Love Quotes, Inspiring Quotes, Thought Provoking Quotes, Quotes By Different Languages, Quotes By Different Authros" />
  <meta name="author" content="prudhvi" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index, follow" />
  <meta name="og:image" content="{% static 'images/inslogo.svg' %}" />
  <meta name="og:url" content="https://inspiricquotes.com/" />
  <meta name="og:type" content="website" />
  <meta name="twitter:image" content="{% static 'images/inslogo.svg' %}" />
  <meta name="twitter:card" content="{% static 'images/inslogo.svg' %}" />
  <link rel="icon" href="{% static 'images/insfavicon.svg' %}" type="image/x-icon" />
  <link rel="shortcut icon" href="{% static 'images/insfavicon.png' %}" type="image/x-icon" />
  <link rel="canonical" href="https://inspiricquotes.com/">
   
  
</head>

<body>

  <header class="sticky-top bg-white border-bottom border-default">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img class="img-fluid logo rounded-circle" src="{% static 'images/inslogo.svg' %}" alt="Inspiric Quotes" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">Authors
                </a>
                <div class="dropdown-menu rounded-0 scrollable-dropdown">
                  <div class="scrollable-container">
                      {% for author in authors %}
                      <a class="dropdown-item" href="{% url 'quotes_by_authors' id=author.id name=author.name|slugify %}">{{ author.name }}</a>
                      {% endfor %}
                  </div>
              </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">Categories
                </a>
                <div class="dropdown-menu rounded-0">
                  {% for category in categories %}
                  <a class="dropdown-item"
                    href="{% url 'quotes_by_categories' id=category.id name=category.name|slugify %}">{{category.name}}</a>
                  {% endfor %}
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">Languages
                </a>
                <div class="dropdown-menu rounded-0">
                  {% for language in languages %}
                  <a class="dropdown-item"
                    href="{% url 'quotes_by_languages' id=language.id name=language.name|slugify %}">{{language.name}}</a>
                  {% endfor %}
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
            </ul>

          </div>
        </div>
      </nav>
  </header>
  {% block content %} {% endblock %}

  <footer class="footer shadow-lg">
    <div class="container-fluid justify-content-center align-items-center text-center">
      <div class="row">
        <div class="col-12 col-lg-6 p-4">
          <img src="{% static 'images/inslogo.svg' %}" class="logo rounded-circle mb-2" />
          <p>Welcome to our delightful website, a treasure trove of wisdom and inspiration! We've gathered a diverse
            collection of quotes from brilliant minds across the globe and throughout history. Explore profound
            thoughts, witty sayings, and heartfelt words in multiple languages. Let our quotes brighten your day and
            expand your horizons.</p>
        </div>
        <div class="col-12 col-lg-6 p-4">
          <h6>QuickLinks</h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'privacy-policy' %}">Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'terms-conditions' %}">Terms Conditions</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </footer>








  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6B5WG9Q3GR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6B5WG9Q3GR');
</script>
<script type="text/javascript">
  (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
  })(window, document, "clarity", "script", "jiu1jg8g9l");
</script>
<script src="https://alwingulla.com/88/tag.min.js" data-zone="19038" async data-cfasync="false"></script>
</body>

</html>