{% extends 'base.html' %} {% block content %}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-bordered mb-5 d-flex align-items-center">
          <h1 class="h4">Our Privacy Policy</h1>
        </div>
        <div class="content">
          <p>
            At Book Info, we take your privacy and the protection of your
            personal information very seriously. This Privacy Policy outlines
            the types of information we collect, how we use and protect it, and
            the choices you have regarding your data. By accessing or using our
            website, you consent to the practices described in this policy.
          </p>
          <h4>Information We Collect:</h4>
          <p>
            Personal Information: When you interact with our website, we may
            collect personal information such as your name, email address, and
            any other information you voluntarily provide when submitting forms,
            leaving comments, or contacting us. Automatically Collected
            Information: We may gather certain non-personal information
            automatically, including your IP address, browser type, device
            information, and the pages you visit on our website. This
            information is collected through cookies, web beacons, and similar
            technologies to enhance your experience and improve our website's
            functionality.
          </p>
          <h4>How We Use Your Information:</h4>
          <p>
            Personalization: We use the information collected to tailor your
            experience on our website, providing personalized content, and
            improving our services. Communication: We may use your email address
            to respond to your inquiries, provide updates about our website, and
            share relevant information about our services. You can opt-out of
            marketing communications at any time. Analytics and Improvements:
            The non-personal information we gather helps us analyze user
            behavior, monitor website performance, and make enhancements to
            deliver a better user experience.
          </p>

          <h4>How We Protect Your Information:</h4>
          <p>
            We implement various security measures to safeguard your personal
            information and prevent unauthorized access, disclosure, or misuse.
            Our website uses secure socket layer (SSL) technology to encrypt
            data transmission, and access to your personal data is restricted to
            authorized personnel only. While we take reasonable precautions to
            protect your data, it is essential to understand that no method of
            data transmission over the internet or electronic storage is 100%
            secure. Therefore, we cannot guarantee absolute security.
          </p>
          <h4>Changes to this Privacy Policy:</h4>
          <p>
            We reserve the right to update this Privacy Policy periodically to
            reflect changes in our practices or for legal reasons. We will post
            the revised policy with the updated date, and the changes will
            become effective upon posting.
          </p>
          <h2>Contact Us:</h2>
          <p>
            If you have any questions, concerns, or requests regarding this
            Privacy Policy or the use of your personal information, please
            contact us at <b>contact@thebookinfo.com</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
