{% extends 'base.html' %} {% load static %} {% block content %}

<div data-aos="fade" class="page-title">
  <nav class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li class="current">{{category_name}}</li>
      </ol>
    </div>
  </nav>
</div>

<section id="recent-posts" class="recent-posts">
  <div class="container-fluid">
    <div class="row gy-4">
      {% for quote in objects %}
      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <article>
          <div class="post-img">
            <a href="{% url 'display_quotes_categories' quote_id=quote.id category_id=quote.category_id %}">
              <img src="{{quote.image.url}}" class="img-fluid" alt="card" />
            </a>
            </a>
          </div>
          <h2 class="title">
            {{quote.text | truncatechars:60}}
          </h2>
        </article>
      </div> <!-- Column Tag Ends Here-->
      {% endfor %} 
    </div> <!-- Row Tag Ends Here-->

    <div class="pagination d-flex justify-content-center">
      <ul class="flex-wrap">
        {% if objects.has_previous %}
          <li><a href="?page=1"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}
        {% for i in objects.paginator.page_range %}
            {% if objects.number == i %}
            <li class="active">
              <a>{{ i }}</a>
            </li>
            {% else %}
            <li>
              <a href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
        {% endfor %}

        {% if objects.has_next %}
        <li><a href="?page={{ objects.paginator.num_pages }}"><span aria-hidden="true">&raquo;</span></a></li>
        {% endif %}
      </ul>
    </div>
    
  </div> 
</section>
{% endblock %}