{% extends 'base.html' %} {% load static %} {% block content %} 
<section class="display-quotes py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card rounded-0">
          <a href="{% url 'quotes' quote.pk %}">
            <img
              src="{{ quote.image.url }}"
              class="img-fluid"
              alt="Card Image"
              style="width: 100%;"
            />
          </a>
          <div class="card-body">
            <p class="card-text">{{quote.text}}</p>
            <div class="social-media-icons">
              <i
                class="bi bi-facebook"
                onclick="shareOnFacebook(window.location.href)"
              ></i>
              <i
                class="bi bi-telegram"
                onclick="shareOnTelegram(window.location.href,'{{quote.text}}')"
              ></i>
              <i
                class="bi bi-whatsapp"
                onclick="shareOnWhatsApp(window.location.href,'{{quote.text}}')"
              ></i>
              <i
                class="bi bi-twitter"
                onclick="shareOnTwitter(window.location.href)"
              ></i>
            </div>
          </div>
          <div class="card-footer">
            <div class="author d-flex justify-content-center">
              {% if previous_quote %}
              <a href="{% url 'quotes' id=previous_quote.id %}"
                ><i class="bi bi-chevron-left" style="font-size: 48px"></i
              ></a>
              {% endif %} {% if next_quote %}
              <a href="{% url 'quotes' id=next_quote.id %}" style="float: right"
                ><i class="bi bi-chevron-right ml-4" style="font-size: 48px"></i
              ></a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="quotes-author-container mt-4">
          <div class="line-with-text">
            <span>Quotes To Explore By Authors</span>
          </div>
          <div class="row gx-4 text-center space-around mt-4">
            {% for author in authors %}
            <div class="col-lg-3 mb-4">
              <div class="card rounded-0 p-4">
                <a
                  href="{% url 'quotes_by_authors' id=author.id name=author.name|slugify %}"
                  >{{author.name}}</a
                >
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="quotes-languages-container mt-4">
          <div class="line-with-text">
            <span>Quotes To Explore By Languages</span>
          </div>
          <div class="row text-center space-around mt-4">
            {% for language in languages %}
            <div class="col-lg-4 mb-4">
              <div class="card rounded-0 p-4">
                <a
                  href="{% url 'quotes_by_languages' id=language.id name=language.name|slugify %}"
                  >{{language.name}}</a
                >
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="line-with-text" style="margin-top: 48px !important">
          <span>Quotes To Explore By Other Categories</span>
        </div>
        <div class="quotes-author-container mt-4">
          <div class="row text-center space-around mt-4">
            {% for category in categories %}
            <div class="col-lg-4 mb-4">
              <div class="card rounded-0 p-4">
                <a
                  href="{% url 'quotes_by_categories' id=category.id name=category.name|slugify %}"
                  >{{category.name}}</a
                >
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
