{% extends 'base.html' %} {% load static %} {% block content %}

<section class="categories py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="line-with-text">
          <h1 class="fw-bold text-center">{{author_name}}</h1>
        </div>
        <div class="row mt-4">
          {% for quote in objects %}
          <div class="col-6 mb-4">
            <div class="card rounded-0">
              <a href="{% url 'display_quotes_authors' author_id=quote.author_id quote_id=quote.id %}">
                <img src="{{quote.image.url}}" class="img-fluid" alt="card" />
              </a>
              <div class="card-body">
                <p class="card-text">{{quote.text | truncatechars:40}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <nav aria-label="inspiric-navigation">
          <ul class="pagination justify-content-center">
            {% if objects.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1" aria-label="First">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% endif %}
            {% for i in objects.paginator.page_range %}
            {% if objects.number == i %}
            <li class="page-item active">
              <span class="page-link">{{ i }}
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if objects.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ objects.paginator.num_pages }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
        <div class="line-with-text" style="margin-top: 48px !important;">
          <span>Quotes To Explore By Other Authors</span>
        </div>

        <div class="quotes-author-container mt-4">
          <div class="row text-center space-around mt-4">
            {% for author in all_authors %}
            <div class="col-lg-4 mb-4">
              <a href="{% url 'quotes_by_authors' id=author.id name=author.name|slugify %}">{{author.name}}</a>
            </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}