{% extends 'base.html' %} {% block content %}

<section id="about" class="about">

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-items-xl-center gy-5">

      <div class="col-12 content">
        <h3>Cancellation and Refund Policy</h3>
        <br />
        <br />
        <h3>Cancellation Policy</h3>
        <p>Customers can cancel their order within 30 days of purchase. To request a cancellation, customers must contact inspricquotes@gmail.com and provide their order number.</p>
        <br />
        <h3>Refund Policy:</h3>
        <br />
        <br />
        <p>We offer refunds on products/services that are returned in their original condition within 30 days of purchase.</p>
        <br />
        <p>Refunds will be processed within 30 days after receiving the returned item.</p>
        <br />
        <p>Shipping and handling charges are non-refundable.</p>
        <br />
        <p>Refunds will be issued to the original payment method used during the purchase.</p>
        <br />
        <h3>Exceptions</h3>
        <br />
        <br />
        <p>Customized or personalized items/services may not be eligible for cancellation or refund unless there is a defect or error in the product/service received.</p>
        <br />
        <p>Digital products/downloads are non-refundable once the download/access link has been provided.</p>
        <br />
        <h3>Contact Information</h3>
        <br />
        <br />
        <p>For any inquiries regarding cancellations or refunds, please contact us at inspiricquotes@gmail.com</p>
  </div>

</section>


{% endblock %}