{% extends 'base.html' %} {% block content %}

<section id="about" class="about">

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-items-xl-center gy-5">

      <div class="col-12 content">
        <h3>Support Inspiric Quotes</h3>
        <br />
        <br />
        <p>At Inspiric Quotes, we are committed to providing you with a platform that inspires, motivates, and uplifts. To continue delivering quality content and maintaining our services, we rely on the generous support of our visitors.</p>
        <br />
        <h3>Ways You Can Support Us</h3>
        <br />
        <br />
        <p>Your contributions directly impact our ability to create and curate inspiring content. Every donation, no matter the size, helps us sustain and grow Inspiric Quotes.</p>
        <br />
        <h3>How Your Support Helps</h3>
        <br />
        <br />
        <p><strong>Content Creation:</strong> Your support enables us to create high-quality, inspiring content that resonates with our audience.</p>
        <p><strong>Platform Maintenance:</strong> It helps in maintaining the website, server costs, and technical upkeep for a seamless user experience.</p>
        <p><strong>Future Development:</strong> Contributions aid in developing new features and expanding our offerings to better serve you.</p>
        <br />
        <h3>Making a Contribution</h3>
        <br />
        <br />
        <p><a href="https://www.buymeacoffee.com/prudhvi">Click here</a>to make a one-time donation and contribute to the sustainability of Inspiric Quotes.</p>
      </div>

    </div>
  </div>

</section>


{% endblock %}