{% extends 'base.html' %} {% block content %}
<section class="privacy-policy py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 mx-auto">
        <h1 class="fw-bold">Support Inspiric Quotes</h1>
        <br />
        <p>
          At Inspiric Quotes, we are committed to providing you with a platform
          that inspires, motivates, and uplifts. To continue delivering quality
          content and maintaining our services, we rely on the generous support
          of our visitors.
        </p>
        <br />
        <h2>Ways You Can Support Us</h2>
        <br />
        <p>
          <strong>Donations:</strong> Your contributions directly impact our
          ability to create and curate inspiring content. Every donation, no
          matter the size, helps us sustain and grow Inspiric Quotes.
        </p>
        <br />
        <h2>How Your Support Helps:</h2>
        <br />
        <p>
          <strong>Content Creation:</strong> Your support enables us to create
          high-quality, inspiring content that resonates with our audience.
        </p>
        <p>
          <strong>Platform Maintenance:</strong> It helps in maintaining the
          website, server costs, and technical upkeep for a seamless user
          experience.
        </p>
        <p>
          <strong>Future Development:</strong> Contributions aid in developing
          new features and expanding our offerings to better serve you.
        </p>
        <br />
        <h2>Making a Contribution</h2>
        <br />
        <p>
          <strong>Donate:</strong>
          <a href="https://www.buymeacoffee.com/prudhvi">Click here</a> to make
          a one-time donation and contribute to the sustainability of Inspiric
          Quotes.
        </p>
        <br />
      </div>
    </div>
  </div>
</section>
{% endblock %}
