{% extends 'base.html' %} {% block content %}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-bordered mb-5 d-flex align-items-center">
          <h1 class="h4">Terms & Conditions</h1>
        </div>
        <div class="content">
          <p>
            Welcome to Book Info! These Terms & Conditions govern your use of
            our website. By accessing or using our website, you agree to comply
            with these terms. If you do not agree with any part of these terms,
            please refrain from using our website.
          </p>
          <h4>Intellectual Property:</h4>
          <p>
            All content, materials, and intellectual property displayed on Book
            Info, including but not limited to text, images, logos, trademarks,
            and graphics, are the property of Book Info and protected by
            applicable intellectual property laws. You may not reproduce,
            distribute, or modify any of our content without our explicit
            written consent.
          </p>
          <h4>Use of the Website:</h4>
          <p>
            You may use our website for lawful purposes and in compliance with
            these Terms & Conditions. However, you agree not to:
          </p>
          <p>
            a. Violate any applicable laws, regulations, or third-party rights.
          </p>
          <p>
            b. Impersonate any person or entity or provide false information.
          </p>
          <p>
            c. Attempt to interfere with the proper functioning of the website.
          </p>
          <p>
            d. Engage in any conduct that may harm, disrupt, or overload our
            website.
          </p>
          <p>
            e. Use any automated means, such as bots or scrapers, to access our
            website.
          </p>
          <h4>User Content:</h4>
          <p>
            By submitting any content, including comments or contributions, to
            our website, you grant Book Info a non-exclusive, royalty-free,
            perpetual, and worldwide license to use, modify, reproduce, and
            distribute that content. You represent and warrant that you have the
            necessary rights to grant this license and that your content does
            not violate any laws or infringe on any third-party rights.
          </p>
          <h4>Privacy:</h4>
          <p>
            We value your privacy and handle your personal information in
            accordance with our Privacy Policy. By using our website, you
            consent to the collection, use, and disclosure of your information
            as outlined in the Privacy Policy.
          </p>
          <h4>Links to Third-Party Websites:</h4>
          <p>
            Our website may contain links to third-party websites for your
            convenience. However, we do not endorse or control the content,
            products, or services offered by these websites. Visiting
            third-party websites is at your own risk, and we are not responsible
            for any issues that may arise from your interactions with them.
          </p>
          <h4>Disclaimer of Warranties:</h4>
          <p>
            Book Info provides its content on an "as-is" basis without any
            warranties, express or implied. We do not guarantee the accuracy,
            reliability, or completeness of the content on our website. Your use
            of our website is at your own risk, and Book Info shall not be held
            liable for any damages arising from your use of the website.
          </p>
          <h4>Limitation of Liability:</h4>
          <p>
            In no event shall Book Info, its officers, employees, or affiliates
            be liable for any indirect, incidental, special, or consequential
            damages arising out of your use of our website or reliance on its
            content.
          </p>
          <h4>Changes to Terms & Conditions:</h4>
          <p>
            We reserve the right to modify these Terms & Conditions at any time.
            Any changes will be effective immediately upon posting on our
            website. Your continued use of the website after the changes will
            indicate your acceptance of the updated terms.
          </p>
          <h4>Contact Us:</h4>
          <p>
            If you have any questions or concerns regarding these Terms &
            Conditions, please contact us at <b>contact@thebookinfo.com</b>
            <br />Thank you for using Book Info. We hope you enjoy your
            experience on our website!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
