html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.7;
  /* font-family: "Nanum Gothic", sans-serif; */
  background-color: #FFFFFF !important;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End Reset */

.logo {
  width: 48px;
  height: 48px;
}
a {
  text-decoration: none !important;
}

.line-with-text {
  display: flex;
  align-items: center;
  text-align: center;
}

.line-with-text::before,
.line-with-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}

.line-with-text::before {
  margin-right: 0.5em;
}

.line-with-text::after {
  margin-left: 0.5em;
}

.bi {
  font-size: 48px !important;
  margin-right: 14px !important;
}

.card-text {
  font-size: 32px;
}

.scrollable-dropdown {
  overflow: visible;
}

.scrollable-container {
  max-height: 200px;
  overflow-y: auto;
}

.quote-card{
  background-color: #5F7FFF !important;
}

.card-columns {
  column-count: 3;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1;
}

.page-link{
  width: 100% !important;
  height: 100% !important;
  padding: 4px !important;
  border-radius: 50% !important;
  background-color: #5F7FFF !important;
}

footer{
  background-color: #F4F4F4 !important;
}